.skeleton {
    position: relative;
    border-radius: 5px;
    float: left;
    background: linear-gradient(
    120deg,
    #C2BFF4 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #C2BFF4 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: run 2s infinite;
}
@keyframes run {
    100% {
      background-position: -100% 0;
    }
  }
  