.back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('/assets/Background-geral.png');
    background-size: 110vw 110vh;
    background-position: -5vw -5vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.container_loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading_text {
    position: absolute;
    bottom: 10vh;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 2 / 3 / 4;
}