.container{
    width: 92px;
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.title{
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #DAD8F7;
    line-height: 17px;
}
.temperature{
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #DAD8F7;
    line-height: 19px;
}
.min{
    color: #FFF;
}