.container{
    width: 277px;
    height: 244px;
    border-radius: 10px;
    background-color: #6D67D0;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 16px;
}
.title{
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #DAD8F7;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.title span{
    margin-left: 8px;
}
.sum-time{
    margin-top: 24px;
    position: relative;
}
.percentage_day{
    position: absolute;
    top: 0;
    left: 0;
}
.current-time{
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    bottom: 77px;
}
.start-time, .end-time{
    position: absolute;
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    bottom: 16px;
}
.start-time{
    left: 17px;
}
.end-time{
    right: 18px;
}